@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #efd860;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 3.5rem;
}

.gibberish-box {
    width: 35rem;
    height: 45rem;
    background-color: #89760b;
    border-radius: 10px;
}

button {
    background-color: #efd860;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    color: #89760b;
    padding: 0.75rem 1rem;
    margin-left: 26rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.ctc {
    margin-left: 25.6rem;
    margin-right: 3rem;
}

label {
    color: #efd860;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 3.5rem;
}

input {
    margin-left: 2.7rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 30rem;
    height: 5rem;
    border-radius: 10px;
    border: none;
    background-color: #efd860;
    font-family: "Poppins", sans-serif;
    color: #89760b;
    font-weight: bold;
}

input:focus {
    outline: none;
}

.gibberish-box-result {
    margin-left: 2.7rem;
    margin-top: 3rem;
    font-size: 1.1rem;
    width: 30rem;
    height: 23rem;
    border-radius: 10px;
    border: none;
    background-color: #efd860;
    font-family: "Poppins", sans-serif;
    color: #89760b;
    font-weight: bold;
    padding: 0.75rem;
}

